{
    "config": {
	    "deploy-wait": 1
    },
    "domains": {
        "example.com": {
            "zone": "example.com",
            "hook": "echo Restarting service for ${DOMAIN}"
        },
        "www.example.com": {
            "zone": "example.com"
        },
        "test.example.com": {
            "zone": "example.com",
            "hook": [
                "echo Hook command 1 for ${DOMAIN}",
                "echo Hook command 2 for ${DOMAIN}"
            ]
        }
    }
}
