{
    "config": {
        "server": "https://dns.example.com/",
        "deploy-wait": 120
    },
    "domains": {
        "example.com": 12,
        "www.example.com": 13,
        "foo.example.com": 23
    },
    "certs": {
        "example.com": {
            "alias": ["www.example.com"],
            "hook": "echo hook for example.com"
        },
        "foo.example.com": {
            "hook": [
                "echo first hook for foo.example.com",
                "echo second hook for foo.example.com"
            ]
        }
    }
}
