{
    "config": {
	    "deploy-wait": 1
    },
    "domains": {
        "example.com": {
            "zone": "example.com",
            "hook": "echo Restarting service for example.com"
        },
        "www.example.com": {
            "zone": "example.com"
        },
        "test.example.com": {
            "zone": "example.com",
            "hook": [
                "echo Hook command 1 for test.example.com",
                "echo Hook command 2 for test.example.com"
            ]
        }
    }
}
